html {
  font-family: 'Roboto', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100dvw;
}

.Container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-self: start;

  a,
  div,
  .header {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 600;
    text-align: left;
  }

  a::before {
    content: '-';
    padding-right: 0.5rem;
  }
}

.canvas {
  width: 100vw !important;
  height: 100vh !important;
}

.tempcanvas,
.gui {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background: red;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  z-index: 999;
}
#one {
  background: red;
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 1000;
  top: 0;
  left: 0;
  z-index: 999;
}

.is-null {
  background: green;
  width: 30px;
  height: 30px;
  z-index: 999;
}

.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: #fff;
  font-weight: bold;
  letter-spacing: -10px;
  pointer-events: none;
  mix-blend-mode: exclusion;
}
